@font-face {
    font-family: RobotoMono-Thin;
    src: url(./fonts/RobotoMono-Thin.ttf);
}

* {
    --main-color: #fff;
    --main-flex-option: {
        
    }
}

body {
    font-family: 'Roboto Mono', monospace;
    background: #00d2ff;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

div {
    margin-top: 1em;
}

.list {
    color: #fff;
}

input {
    appearance: none;
    background-color: none;
    border: 1px solid #3a7bd5;
    line-height: 0;
    font-size: 1em;
    box-sizing: border-box;
    padding: 0.2em 0.3em;
    border-radius: 0.6em;
    color: #3a7bd5;
    font-weight: 100;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 1;

}

button {
    background: transparent;
	color: var(--main-color);
	border: 0.1em solid #fff;
	border-radius: 1.5em;
	padding: 0.4rem 0.6rem;
	font: 1.2em;
	outline: none;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in-out;
    letter-spacing: 2px;
    margin: 0.3em;
}

/* .rights {
    color: var(--main-color);
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    text-align: center;
} */

/* a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bolder;
} */